* {
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    background-image: url("rag.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -200px 0px;
  }

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#header-table {
    margin: auto auto;
    border-bottom: 2px solid #AED6F1;
    border-top: 2px solid #AED6F1;
    padding: 0px;
    color: white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,26,1) 22%, rgba(1,0,15,0.8239889705882353) 45%, rgba(1,0,8,0.7035407913165266) 61%, rgba(0,0,0,0.6223082983193278) 79%, rgba(0,0,0,0) 100%);
    margin-bottom: 30px;
}

#header-table td:nth-child(1){
    text-align: right;
    width: 85px;
    padding-right: 25px;
    font-size: 150%;
    
}

#header-table td:nth-child(2){
    text-align: center;
}

#header-table td:nth-child(3){
    text-align: left;
    width: 100px;
    padding-left: 10px;
    font-size: 150%;    
}

h1 {
    font-size: 400%;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-shadow: 4px 4px black;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#tableholder {
    border: 2px solid red;
    border-radius: 6px;
    padding:20px;
    background: rgba(0,0,0,0.7);
    margin: auto auto;
    width: 600px
}

#dkptable {
    margin: auto auto;
    color: white;
    font-size: 200%;
    border-collapse: collapse;
}

.tableformat td:nth-child(1){
    width: 400px;
    padding-left: 20px;
}

.tableformat td:nth-child(2){
    text-align: center;
    padding-right: 20px;
}

th {
   text-align: left;
   padding: 20px;
   border-bottom: 2PX solid red;
}

td {
    border-bottom: 2px solid rgba(255,255,255,0.2);
}