* {
    font-family: Tahoma, Geneva, sans-serif;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("naxx.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    background-color: black;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#header-table {
    margin: auto auto;
    border-bottom: 2px solid #AED6F1;
    border-top: 2px solid #AED6F1;
    padding: 0px;
    color: white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,26,1) 22%, rgba(1,0,15,0.8239889705882353) 45%, rgba(1,0,8,0.7035407913165266) 61%, rgba(0,0,0,0.6223082983193278) 79%, rgba(0,0,0,0) 100%);

}

#header-table td:nth-child(1){
    text-align: right;
    width: 85px;
    padding-right: 25px;
    font-size: 150%;
    
}

#header-table td:nth-child(2){
    text-align: center;
}

#header-table td:nth-child(3){
    text-align: left;
    width: 100px;
    padding-left: 10px;
    font-size: 150%;    
}

h1 {
    font-size: 400%;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-shadow: 4px 4px black;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#rules {
    margin: 20px auto 20px auto;
    width: 1200px;
    border: 2px solid #AED6F1;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.8);
    color: #AED6F1;
    padding: 10px;
    font-size: 120%;
}

h2 {
    padding: 0px;
    margin: 0px;
}

#award-title {
    border-bottom: 2px solid #AED6F1;
    border-top: 2px solid #AED6F1;
    width: 400px;
    margin: 50px auto 15px auto;
    text-align: center;
    font-size: 300%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,0,26,1) 22%, rgba(1,0,15,0.8239889705882353) 45%, rgba(1,0,8,0.7035407913165266) 61%, rgba(0,0,0,0.6223082983193278) 79%, rgba(0,0,0,0) 100%);
    color: #AED6F1;
    text-shadow: 4px 4px black;
}

h3 {
    border: 2px solid #AED6F1;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.8);
    color: #AED6F1;
    font-size: 150%;
    width: auto;
    padding: 5px 5px 5px 8px;
    margin-bottom: 0px;
    text-align: center;
    margin: auto auto;
}

#MC-title {
    width: 150px;
}

#Ony-title {
    width: 350px;
}

#Bwl-title {
    width: 200px;
}

table:not(#header-table) {
    border: 2px solid #AED6F1;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.8);
    color: #AED6F1;
    font-size: 150%; 
    padding: 10px 20px 20px 20px;
    margin: 0px auto 20px auto;
}

thead {
    border-collapse: collapse;
    border-bottom: 2px solid #AED6F1;
}

th {
    text-align: left;
}

table td:nth-child(1){
    width: 300px;
    padding-left: 20px;
}

table td:nth-child(2){
    text-align: center;
    padding-right: 20px;
}

